<div class="comments">
    <div id="comments">
        <a href="/users/profile/<%=comment.user.id%>">
             <img class="image-comment" src="<%=comment.user.avatar%>" alt="" height="25" width="25">
            </a>
        
        <small>
            <a href="/users/profile/<%=comment.user.id%>"><%=comment.user.name%> </a> 
        </small>
        <% if((locals.user)&&(locals.user.id==comment.user.id||locals.user.id==post.user.id)){%>
        <small>
        <a href="comments/destroy/<%=comment.id%>" id="delete-comment"><i class="far fa-trash-alt"></i></a>
        </small>
        <%}%>
    </div> 
    <br>
    <div class="comment-content">
       <p class="comment-text">
        <%=comment.content%>
       </p>
    </div>
    <br>
</div>