<div class="post-s" id="post-<%=post._id%>">
    <div class="post-header"> 
        <div class="user-header">
           <div class="post-username">
                <a href="/users/profile/<%=post.user.id%>">
                    <img class="image" src="<%=post.user.avatar%>" alt="" height="30" width="30">
                </a>
                <small class="post-user">
                    <a href="/users/profile/<%=post.user.id%>">
                    <%=post.user.name%> 
                    </a>
                </small>
           </div>
            <div class="post-op-container">
                <button class="post-option-button" ><i class="fas fa-caret-down"></i></button>
                <%if(locals.user && locals.user.id==post.user.id){%>
                <a href="posts/destroy/<%=post.id%>" id="post-delete-<%=post.id%>" class="delete-post">Delete Post<i class="far fa-trash-alt"></i></a>
                <%}%>
            </div>
        
    </div>
        <li class="post-content">
            :)- <%=post.content%>
         </li>
         <span class="like-button">
             <a href=""><i class="fas fa-heart"></i></a>
         </span>
        </div>

    <div class="post-comments">
        <%if(locals.user){%>
            <form action="/comments/create"  class="comment-form" id="comment-form-<%=post._id%>" method="POST">
                <input type="text" name="content" id="write-comment" placeholder="Write a comment..." required>
                <input type="hidden" name="post"  value="<%=post._id%>">
                <input type="submit" class="add-comment" value="Add Comment"> 
            </form>
        <%}%>
            <div class="post-comments-list">
                <ul style="padding: 0; list-style: none;" id="post-comments-<%=post._id%>">
                    <%for(comment of post.comments){%>
            
                    <li class="commented" id="comment-<%=comment.id%>" >
                        <%-include('_comment')-%>
                    </li>
                    
           

                    <%}%>
            </ul>
            </div>
    </div>
    </div>