<html>
    <head>
        <title><%=title%></title>
        <script src="https://kit.fontawesome.com/af827e2ea3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <%-style%>
    </head>
    <body>
        <div id="header">
        <%-include("_header");-%>
        </div>
        <div class="body">
            <%-body%>
        </div>
        
        
        <div class=" footer">
            <%-include("_footer");-%>

        </div>
        <%-script%>

    </body>
</html>