<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">
        <%-style%>
    </head>
    <body>
        <%-include("_header");-%>
        <div>
            <%-body%>
        </div>
        
        
        <%-include("_footer");-%>

        <%-script%>

    </body>
</html>