<html>
    <head>
        <title><%=title%></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/af827e2ea3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <%-style%>
    </head>
    <body>
        <%-include("_header")-%>
       
        <%-body%>
        
        
        
       
        <%-include("_footer");-%>
    
        
        <%-script%>

        <script>
            <%if(flash.success && flash.success.length>0){%>
             new Noty({
                   theme: 'metroui',
                    type: 'success',
                    layout: 'topRight',
                    text: '<%=flash.success%>',
                    timeout:2000

                }).show();
            <%}%>
            <%if(flash.error && flash.error.length>0){%>
             new Noty({
                   theme: 'metroui',
                    type: 'error',
                    layout: 'topRight',
                    text: '<%=flash.error%>',
                    timeout:2000

                }).show();
            <%}%>
        </script>
        <script src="/js/message_button.js"></script>
    </body>
</html>