<link rel="stylesheet" href="/css/user_profile.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/posts.css">

<main>
    <div class="user-profile">
       <div class="profile-page" id="profile-<%=profile_user.id%>">
       <div class="profile-image">
          <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="150" height="150">
        </div>   
        <section class="user-details">

            <div class="name-edit">
                <div class="name"><%=profile_user.name%> </div>
        
               <%if(user.id==profile_user.id){%> 
                <button class="edit-profile-button">
                      Edit profile
                 </button>
               <div class="sett">
                <a href=""><i class="fas fa-sliders-h"></i></a>
               </div>
               <%}%>
            </div>
            <div class="bio">
                  <div class="biography">
                    
                    <%=profile_user.bio%>
                  </div>
            </div>
      </section>   
    </div>
      <div class="posts">
        <ul>
          <%for(post of posts){%>
            <%if(post.user._id==profile_user.id){%>
              <%-include('_post')-%>
            <%}%>
          <%}%>
      </ul>
      </div>
   </div>
   <%if(user.id==profile_user.id){%> 
  <div class="edit-pops">
    <div class="edit-pops-header">
        <div>Edit Profile</div>
        <div class="remv"><i class="fas fa-times"></i></div>
    </div>
    <form  class="editform" action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST" >
       <div id="pro-name" class="fm">
        <h4>Name</h4>
        <div class="name-text vip">
          <input type="text"  name="name" placeholder="your Name" value="<%=profile_user.name%>" required>
        </div>
      </div>
       <div class="fm">
        <h4>Bio</h4>
        <div class="bio-txt vip">
          <textarea name="bio" id="bio-text" wrap="hard" cols="20" placeholder=" Write bio here..."  style="height: 85px;"></textarea>
        </div>
      </div>
       <div id="pro-email" class="fm">
        <h4>Email</h4>
        <div class="mails vip">
          <input type="email" id="pro-email" name="email" placeholder="your email" value="<%=profile_user.email%>" required>
        </div>
      </div>
        <div  class="fm">
        <h4>change Profile</h4>
       <div class="pro-pic vip">
        <input type="file" id="pro-pic" name="avatar" placeholder="profile Picture">
       </div>
      </div>
      <input type="submit" value="Upload" id="upload-profile"> 
  </form>
  </div>
  <%}%>
    
</main>
<script src="/js/user_profile.js">

</script>